<div class="flex-none h-48 w-64 border-2 m-4 box-border border-gray-500 rounded-xl text-gray-800 <%= bg_color %>">
    <div class="text-center mt-2 mb-4 text-2xl"><%= key %></div> 
    <div class="text-center mt-8 text-5xl font-bold"><%= value %></div>
    <div class="text-center mt-8 text-xs <%= "text-red-500" unless timestamp.after?(1.day.ago) %>">Last update: <%= timestamp.strftime("%e.%m.%y %R") %></div>
</div>