<div class="container mx-auto">
    <h1 class="m-4 text-3xl font-bold">Devices</h1>

    <% @devices.each{ |device| %>
        <div class="px-4 py-2">
            <p>
                <span class="text-lg font-semibold">
                    <% if ! device.name.nil? %>
                        <%= link_to("#{device.name} (#{device.ident})", device) %>
                    <% else %>
                        <%= link_to(device.ident, device) %>
                    <% end %>
                </span>
            </p>
            <div class="w-40 inline-block m-2">Temp: <span class="font-bold p-1 rounded-lg <%= bg_color(device.last_temp_value, @color_conditions_temp) %>"><%= device.last_temp_value %>℃</span></div>
            <div class="w-40 inline-block">Hum: <span class="font-bold p-1 rounded-lg <%= bg_color(device.last_hum_value, @color_conditions_hum) %>"><%= device.last_hum_value %>%</span></div>
            <div class="w-40 inline-block text-xs">(<%= device.last_update_timestamp %>)</div>
        </div>
    <% } %>
</div>